* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--body-bg-color);
    background-color: #10182f;
}

section p {
    color: #ffffff;
}


header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background: transparent;
    transition: 0.3s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

header .nav-bar.sticky {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header .nav-bar .Logo {
    color: var(--dark-color);
    font-size: 1.8cm;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .nav-items {
    display: flex;
    list-style: none;
}

.navigation .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.navigation .nav-items a:hover {
    background-color: var(--navigation-item-hover-color);
    color: var(--white-color);
}

.nav-menu-btn, .nav-close-btn {
    display: none;
}

/* Responsive Navigation Styles */
@media screen and (max-width: 785px) {
    header .nav-bar {
        padding: 20px;
    }

    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        z-index: 999;
    }

    .navigation.active {
        opacity: 1;
        visibility: visible;
    }

    .navigation .nav-items {
        flex-direction: column;
        align-items: center;
    }

    .navigation .nav-items a {
        margin: 10px 0;
    }

    .nav-menu-btn, .nav-close-btn {
        font-size: 1.5em;
        color: var(--dark-color);
        cursor: pointer;
        display: block;
        transition: 0.3s ease;
    }

    .nav-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}




#blog-container {
    max-width: 90%;
    margin: 0 auto;
}

#blog-post {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    display: cover;
    box-shadow: 0 0 10px rgba(242, 245, 245, 0.1);
}

.blog-post h2 {
    color: #333;
}

.blog-post p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* About Section Styles */
.about h2 {
    font-size: 3em;
    border-bottom: 2px solid #000;
    display: inline-block;
}

.about p {
    margin: 25px 0;
}

